body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background: linear-gradient(135deg, rgba(38, 38, 38, 0.618), rgba(0, 0, 0, 0.793)),
                url('Images/4429380.jpg') no-repeat center center/cover;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo-section .logo {
    height: 50px;
}

.beatbox h1 {
    font-size: 28px;
    margin-right: 660px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

nav a:hover {
    color: #ff5a5f;
}

.logout-btn {
    background-color: #e74c3c;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.main-content {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    color: white;
}

.top-playlists, .top-artists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.playlist-card, .artist-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.playlist-card img, .artist-card img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.playlist-card:hover, .artist-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 125px;
}  